<form #itemForm="ngForm" novalidate>
  <label for="genres">Select Item:</label>
  <select
    id="genres"
    name="genres"
    [(ngModel)]="genre"
    (change)="getSelectedGenre()"
  >
    <option *ngFor="let genre of genres" [value]="genre.name">
      {{ genre.name }}
    </option>
  </select>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</form>
<ul>
  <li *ngFor="let movie of movies">
    <app-movie-cards
      [poster_path]="movie.poster_path"
      [overview]="movie.overview"
      [title]="movie.title"
    ></app-movie-cards>
  </li>
</ul>
